@model EmployeeRegister.ViewModels.DepartmentViewModel;

@{
    ViewData["Title"] = "Create department";
}
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="~/css/BootsWatchLux.css" />
    <title>Create</title>
</head>

<body>
<form asp-controller="Department" asp-action="Create" method="post">
        <div class="uiforvalidation">
            @Html.ValidationSummary()
        </div>
        <p></p>
        <div class="form-group text-center">
        <label class="control-label">Name: </label>
        @Html.TextBoxFor(x => x.Name, new {size=29})
    </div>
        <p></p>
        <div class="form-group text-center">
        <label class="control-label">Phone number: </label>
            @Html.TextBoxFor(x => x.PhoneNumber, new {size=21})
    </div>
        <p></p>
        <div class="form-group text-center">
        <label class="control-label">Address: </label>
        @Html.TextBoxFor(x => x.Address, new {size=27})
    </div>
        <p></p>
        <div class="form-group text-center">
        <label class="control-label">Description: </label>
        @Html.TextBoxFor(x => x.Description, new {size=24})
    </div>
        <p></p>
        <div class="form-group text-center">
            <input class="btn btn-dark" type="submit" value="Create">
    </div>
</form>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
</body>