@using EmployeeRegister.Common.Models;
@model IEnumerable<Department>;

@{
    ViewData["Title"] = "Index";
}

<h3>Departments</h3>

@Html.ActionLink("Register New", "Create")

<table class="table">
    <tr>
        <th>Name</th>
        <th>PhoneNumber</th>
        <th>Address</th>
        <th>Description</th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.PhoneNumber)</td>
            <td>@Html.DisplayFor(modelItem => item.Address)</td>
            <td>@Html.DisplayFor(modelItem => item.Description)</td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {id = item.Id})
                @Html.ActionLink("Delete", "Delete", new {id = item.Id})
            </td>
        </tr>
    }
</table>