@model EmployeeRegister.ViewModels.EmployeeViewModel;

@{
    ViewData["Title"] = "Employee details";
}

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="~/css/BootsWatchLux.css" />
    <title>Details</title>
</head>

<body>
    <p></p>
<h2>Personal Info</h2>
<p> Full name: @Html.ViewData.Model.FullName</p>
<p> Address: @Html.ViewData.Model.Address</p>
<p> Family status: @Html.ViewData.Model.FamilyStatus</p>
<p> Work experience in ages: @Html.ViewData.Model.WorkExperience</p>
<p> Salary: @Html.ViewData.Model.Salary BYN</p>

<h2>Contacts</h2>
<p> Phone number: @Html.ViewData.Model.ContactViewModel.PhoneNumber</p>
<p> Email: @Html.ViewData.Model.ContactViewModel.Email</p>

<h2>Department</h2>
<p> Name: @Html.ViewData.Model.Department.Name</p>
<p> Address: @Html.ViewData.Model.Department.Address</p>
<p> Phone number: @Html.ViewData.Model.Department.PhoneNumber</p>
<p> Description: @Html.ViewData.Model.Department.Description</p>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
</body>
