@using EmployeeRegister.Common.Models;
@using EmployeeRegister.Common.Enums
@model EmployeeRegister.ViewModels.EmployeeViewModel;

@{
    ViewData["Title"] = "Edit";
}

<form asp-controller="Employee" asp-action="Edit" method="post">
    
    <div class="form-group">
        <label class="control-label">FullName: </label>
        @Html.EditorFor(x => x.FullName)
        <span asp-validation-for="FullName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label class="control-label">Address: </label>
        @Html.EditorFor(x => x.Address)
        <span asp-validation-for="Address" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label class="control-label">FamilyStatus: </label>
        @Html.DropDownListFor(x => x.FamilyStatus,
            new SelectList(Enum.GetNames(typeof(FamilyStatus))))
    </div>

    <div class="form-group">
        <label class="control-label">Work experience: </label>
        @Html.EditorFor(x => x.WorkExperience)
        <span asp-validation-for="WorkExperience" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label class="control-label">Salary: </label>
        @Html.EditorFor(x => x.Salary)
        <span asp-validation-for="Salary" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label class="control-label">PhoneNumber: </label>
        @Html.EditorFor(x => x.ContactViewModel.PhoneNumber)
        <span asp-validation-for="ContactViewModel.PhoneNumber" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label class="control-label">Email: </label>
        @Html.EditorFor(x => x.ContactViewModel.Email)
        <span asp-validation-for="ContactViewModel.Email" class="text-danger"></span>
    </div>
    
    <div class="form-group">
        <label class="control-label">Department: </label>
        @Html.DropDownListFor(x => x.Department.Id,
            new SelectList(Model.Departments, "Id", "Name"))
    </div>
    
    <input type="submit" value="Edit">
</form>