@model IEnumerable<EmployeeRegister.ViewModels.EmployeeViewModel>;

@{
    ViewData["Title"] = "Index";
}

<h3>Employees</h3>

@if (User.IsInRole("Editor") || User.IsInRole("Admin"))
{
    @Html.ActionLink("Register New", "Create")
}

<table class="table">
    <tr>
        <th>Full Name</th>
        <th>Department</th>
        <th>Phone Number</th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.FullName)</td>
            <td class="tooltype">
                @Html.DisplayFor(modelItem => item.Department.Name)
                <span class="tooltiptext">
                    <p>Адресс: @Html.DisplayFor(modelItem => item.Department.Address)</p>
                    <p>Телефон: @Html.DisplayFor(modelItem => item.Department.PhoneNumber)</p>
                    <p>Описание: @Html.DisplayFor(modelItem => item.Department.Description)</p>
                </span>
            </td>
            <td>@Html.DisplayFor(modelItem => item.ContactViewModel.PhoneNumber)</td>
            
            @if (User.IsInRole("Editor") || User.IsInRole("Admin"))
            {
                <td>
                    @Html.ActionLink("Details", "Details", new {id = item.Id})
                    @Html.ActionLink("Edit", "Edit", new {id = item.Id})
                    @Html.ActionLink("Delete", "Delete", new {id = item.Id})
                </td>
            }
        </tr>
    }
</table>

<style>    
    .tooltype .tooltiptext {
      visibility: hidden;
      width: 240px;
      background-color: white;
      color: #070707;
      text-align: center;
      padding: 5px 0;
      border-radius: 6px;
      position: absolute;
      z-index: 1;
    }
        
    .tooltype:hover .tooltiptext {
      visibility: visible;
    }
</style>