@using EmployeeRegister.Common.Enums
@model EmployeeRegister.ViewModels.UserViewModel;

@{
    ViewData["Title"] = "Create user";
}

<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="~/css/BootsWatchLux.css" />
    <title>Create</title>
</head>

<body>
    <form asp-controller="User" asp-action="Create" method="post">
        <div class="uiforvalidation">
            @Html.ValidationSummary()
        </div>
        <p></p>
        <div class="form-group text-center">
            <label class="control-label">Login: </label>
            @Html.TextBoxFor(x => x.Login, new { size = 32 })
        </div>
        <p></p>
        <div class="form-group text-center">
            <label class="control-label">Email: </label>
            @Html.TextBoxFor(x => x.Email, new { size = 32 })
        </div>
        <p></p>
        <div class="form-group text-center">
            <label class="control-label">Password: </label>
            @Html.TextBoxFor(x => x.Password, new { size = 28, @type="Password" })
        </div>
        <p></p>
        <div class="form-group text-center">
            <label class="control-label">Confirm password: </label>
            @Html.TextBoxFor(x => x.ConfirmPassword, new { size = 20, @type="Password" })
        </div>
        <p></p>
        <div class="form-group text-center">
            <label class="control-label">Role: </label>
            @Html.DropDownListFor(x => x.Role,
            new SelectList(Enum.GetNames(typeof(Role))))
        </div>
        <p></p>
        <div class="form-group text-center">
            <input class="btn btn-dark" type="submit" value="Create">
        </div>
    </form>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>